* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

.section {
  /* background-color: rgb(255, 0, 0); */
}

.container {
  --anyName: 24px;
  margin-inline: auto;
  padding-inline: var(--anyName);
  max-width: calc(1200px + 2 * var(--anyName));
  /* background-color:  rgb(0, 255, 13); */
}

.wrapper {
  /* background-color: rgb(0, 0, 255); */
  padding-block: 64px;
}

.button {
  font-size: 18px;
  background-color: blue;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  width: fit-content;
  border-radius: 8px;
}

.flex {
  margin-inline: auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex h2 {
  margin-bottom: 24px;
}

.flex--dir {
  flex-direction: column;
}

.flex p {
  text-align: center;
  margin-bottom: 20px;
}

.flex .button {
  margin-bottom: 20px;
}

.video {
  background-color: rgb(0, 255, 136);
  width: 100%;
  /* height: 100px; */
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}
